/Module 1/Module-1-PCAP/.vs/Module-1-PCAP
/Module 1/Module-1-PCAP/Module-1-PCAP
/Module 1/Module-1-PCAP/.vs
/Module 1/Module-1-PCAP
*.pyproj
Module 1/Module-1-PCAP/Module-1-PCAP/Module-1-PCAP.pyproj
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/v17/DocumentLayout.json
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/v17/.suo
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/FileContentIndex/e735b64a-67e9-4206-aca2-38f5028c2819.vsidx
/Module 1/Module-1-PCAP/.vs
/Module 1/Module-1-PCAP/.vs
/Module 1/Module-1-PCAP/.vs
/Module 1/Module-1-PCAP
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/v17/DocumentLayout.json
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/v17/DocumentLayout.backup.json
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/v17/.suo
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/FileContentIndex/e735b64a-67e9-4206-aca2-38f5028c2819.vsidx
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/CopilotIndices/17.13.439.2385/SemanticSymbols.db
Module 1/Module-1-PCAP/.vs/Module-1-PCAP/CopilotIndices/17.13.439.2385/CodeChunks.db
